// Base
@import 'base/variables'
@import 'base/mixins'

*
    font-family: 'Roboto', sans-serif
    margin: 0
    padding: 0

.container
    width: 1300px
    margin: 0 auto

// Header
@import 'blocks/header'
// Promo
@import 'blocks/promo'
// Growing
@import 'blocks/growing'
// Slack
@import 'blocks/slack'
// Light
@import 'blocks/light'
// Blue
@import 'blocks/blue'
// Answering
@import 'blocks/answering'